/* Clients css
============================================================================================ */
.clients_area{
	padding-top: 130px;
	background: url(../img/teckture-bg.jpg) repeat scroll center center;
	padding-bottom: 130px;
	.main_title{
		margin-bottom: 80px;
        @include media-down(sm) {
            margin-bottom: 30px;
        }
	}
}
.test_item{
    width: 100%;
    height: 280px;
	background: #2a2a2a;
    display: flex;
    cursor: pointer;

    @include media-down(sm) {
        display: block;
        height: auto;
    }

    &:hover &__img {
        background: #fff;
    }

    &__img {
        flex-shrink: 0;
        width: 40%;
        height: 100%;
        background: $base;
        transition: .5s;

        @include media-down(sm) {
            width: 100%;
            height: 250px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: multiply;
        }
    }

    &__content {
        flex: 1 1 0;
        position: relative;
        padding: 80px 40px 40px;
        border-top: 5px solid transparent;
        transition: border-color .25s;

        @include media-down(sm) {
            border: 0;
            padding: 60px 20px 30px;
        }

        .owl-item.active & {
            border-color: $blue;
        }

        .owl-item.active + .owl-item & {
            border-color: transparent;
        }

        &:before{
            content: "\7b";
            font-family: 'ElegantIcons';
            position: absolute;
            z-index: 1;
            right: 22px;
            top: 20px;
            color: $base;
            font-size: 60px;
            line-height: 50px;

            @include media-down(sm) {
                top: 10px;
                font-size: 50px;
            }
        }
        h4{
            font-size: 14px;
            color: $pfont;
            font-weight: normal;
            margin-bottom: 20px;
            span{
                color: #fff;
                font-weight: 500;
                font-size: 18px;
            }
        }
        p{
            font-size: 14px;
            line-height: 24px;
            color: $pfont;
            font-weight: normal;
            margin-bottom: 0px;
        }
    }
}

.testimonials_slider{
	.owl-buttons{
		position: relative;
		top: -412px;
        display: flex;
        justify-content: flex-end;

        @include media-down(sm) {
            top: 0;
            margin-top: 20px;
        }
	}
	.owl-prev, .owl-next{
		font-size: 36px;
		color: $pfont;
		@include transition;
		cursor: pointer;
		display: inline-block;
		&:hover{
			color: #fff;
		}
	}
	.owl-prev{
		margin-right: 45px;
	}
}

.clients_block {
	padding-top: 100px;

    @include media-down(sm) {
        padding-top: 50px;
    }
}

.clients_slider{
    width: 100%;
    border-top: 1px solid $base;
    border-bottom: 1px solid $base;
    position: relative;
    background: $blue;

    .owl-stage {
        padding: 30px 0;
    }

	.item{
		text-align: center;
		line-height: 55px;
        background-color: $blue;
        cursor: pointer;
        transition: background-color .25s;
        
		img{
            width: auto;
            max-width: 100%;
			max-height: 60px;
			display: inline-block;
			vertical-align: middle;
			mix-blend-mode: luminosity;
		}

        &:hover {
            background-color: transparent;
        }
	}
}

/* End Clients css
============================================================================================ */