.layout {
  overflow: hidden;
  position: relative;
}

.cursor {
  width: 40px;
  height: 40px;
  top: -100px;
  left: -100px;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  background-image: url('../img/cursor.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  transition: background-image 0.15s;
  z-index: 99999;

  &--hovered {
    background-image: url('../img/cursor-hover.svg');
  }
}

.page_lines {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 100%;

  @include media-down(md) {
    display: none !important;
  }

  .line {
    position: absolute;
    left: 0;
    width: 2px;
    height: 50000px;
    background: #222222;

    &+.line {
      left: auto;
      right: 0px;
    }
  }
}

.s_title {
  line-height: 1;

  span {
    display: block;
  }
}

.main_title {
  h2 {
    color: #fff;
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 0px;
  }

  &.white {
    h2 {
      color: $base;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.counter-list {
  counter-reset: list;

  li {
    counter-increment: list;

    &:after {
      content: counter(list);
      position: absolute;
      right: 0px;
      bottom: -16px;
      font-family: $bebas;
      font-size: 80px;
      line-height: 1;
      font-weight: bold;
      color: $base;
    }

    &:nth-child(1):after {
      right: -8px;
    }

    &:nth-child(2):after {
      right: -3px;
    }

    &:nth-child(3):after {
      right: -2px;
    }
  }
}