.diamond {
    position: absolute;
    z-index: -1;
    width: 333px;
    height: 333px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    svg {
        width: 100%;
        transform: translateX(-200%);
        transition: transform 0.7s;
    }

    &.aos-animate svg {
        transform: translateX(0);
    }
}