.footer {
  margin-top: 100px;

  @include media-down(sm) {
    margin-top: 50px;
  }
}

.footer_area {
  padding: 50px 0;
  border-top: 1px solid $base;

  @include media-down(sm) {
    padding: 20px 0;
  }
}

.footer_widgets {
  position: relative;
  justify-content: space-between;
}

.f_widgets_item {
  min-width: 100px;
  
  @include media-up(xxl) {
    max-width: 20%;
  }

  @include media-down(lg) {
    max-width: 20%;
  }

  @include media-down(md) {
    flex: auto;
    width: 33.33%;
    max-width: unset;
    margin-bottom: 30px;
  }

  @include media-only(md) {
    &:nth-child(4) {
      margin-left: 33%;

      .f_link {
        margin-left: 0px !important;
      }
    }
  }

  @include media-down(sm) {
    flex: unset;
    max-width: unset;
    width: 50%;

    &:nth-child(even) {
      padding-right: 20px;
    }

    &:first-child {
      width: 100%;
    }

    .f_link {
      margin-left: 0 !important;
    }
  }

  @media (max-width: 350px) {
    width: 100%;
    padding-right: 0 !important;
  }
}

.f_title {
  margin-bottom: 25px;

  .h3 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
}

.f_contact {
  max-width: 270px;
  font-size: 14px;
  line-height: 24px;
  color: $pfont;
  font-weight: normal;
  margin-bottom: 15px;

  a {
    font-family: $bebas;
    font-weight: bold;
    display: block;
    font-size: 16px;
    line-height: 1.2;
    @include transition;

    &:not(:hover) {
      color: $pfont;
    }
  }
}

.f_link {
  .list {
    li {
      margin-bottom: 10px;

      a {
        font-size: 14px;
        font-weight: normal;
        @include transition;

        &:not(:hover) {
          color: $pfont;
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

.footer-logo span {
  margin-left: 0;

  @include media-up(md) {
    font-size: 20px;
  }

  @include media-down(sm) {
    width: 100%;
  }
}

.footer_bottom {
  overflow: hidden;
  border-top: 2px solid #282828;
  padding: 50px 0;
  border-top: 1px solid $base;

  .container {
    display: flex;
    justify-content: center;

    @include media-down(md) {
      justify-content: space-between;
    }
  
    @include media-down(sm) {
      padding: 30px 20px;
      flex-direction: column-reverse;
    }
  }

  @include media-down(sm) {
    padding: 30px 0;
  }

  @include media-down(sm) {
    padding: 30px 0;
  }
}

.footer-copy {
  @include media-down(sm) {
    margin-top: 20px;
  }
  
  @include media-up(lg) {
    position: absolute;
    left: 20px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    color: $pfont;
    font-weight: normal;
    margin-bottom: 0px;

    a {
      margin-left: 3px;
      font-size: 14px;
      line-height: 24px;
      font-family: $bebas;
      font-weight: bold;
      letter-spacing: 1px;
      @include transition;

      &:not(:hover) {
        color: #fff;
      }
    }
  }
}