.footer_area {
  background: $black;
  padding-left: 76px;
  padding-right: 76px;
  padding-top: 120px;
}

.footer_widgets {
  position: relative;
  padding-bottom: 100px;
  justify-content: space-between;

  @include media-down(sm) {
    padding: 50px 0 30px;
  }
}

.f_widgets_item {
  @include media-up(xxl) {
    flex: 0 0 20%;
    max-width: 20%;
  }

  @include media-down(lg) {
    flex: 0 0 20%;
    max-width: 20%;
  }

  @include media-down(md) {
    flex: auto;
    width: 33.33%;
    max-width: unset;
    margin-bottom: 30px;
  }

  @include media-only(md) {
    &:nth-child(4) {
      margin-left: 33%;

      .f_link {
        margin-left: 0px !important;
      }
    }
  }

  @include media-down(sm) {
    flex: unset;
    max-width: unset;
    width: 50%;

    &:nth-child(even) {
      padding-right: 20px;
    }

    &:first-child {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .f_link {
      margin-left: 0 !important;
    }
  }

  @media (max-width: 350px) {
    width: 100%;
    padding-right: 0 !important;
  }
}

.f_logo {
  color: #fff;
  font-family: $bebas;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 1;
}

.f_title {
  margin-bottom: 25px;

  .h3 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
}

.f_contact {
  max-width: 270px;
  font-size: 14px;
  line-height: 24px;
  color: $pfont;
  font-weight: normal;
  margin-bottom: 15px;

  a {
    font-family: $bebas;
    display: block;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    @include transition;

    &:not(:hover) {
      color: $pfont;
    }
  }
}

.f_link {
  .list {
    li {
      margin-bottom: 10px;

      a {
        font-size: 14px;
        font-weight: normal;
        @include transition;

        &:not(:hover) {
          color: $pfont;
        }
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}


.footer_bottom {
  overflow: hidden;
  border-top: 2px solid #282828;
  display: flex;
  justify-content: space-between;
  padding: 48px 0px;

  @include media-down(sm) {
    padding: 20px 0;
  }

  .left_text {
    display: inline-flex;
    width: 50%;
    flex-direction: row;

    p {
      font-size: 14px;
      line-height: 24px;
      color: $pfont;
      font-weight: normal;
      margin-bottom: 0px;

      a {
        margin-left: 3px;
        font-size: 14px;
        line-height: 24px;
        font-family: $bebas;
        font-weight: bold;
        letter-spacing: 1px;
        @include transition;

        &:not(:hover) {
          color: #fff;
        }
      }
    }
  }

  .middle_text {
    flex-shrink: 0;
    // width: 100%;
    text-align: center;

    .list {
      display: inline-block;
      width: 100%;
      text-align: center;

      li {
        display: inline-block;
        margin-right: 25px;

        a {
          font-size: 14px;
          line-height: 24px;
          font-weight: normal;
          @include transition;

          &:not(:hover) {
            color: #fff;
          }
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  .right_text {
    display: inline-flex;
    width: 50%;
    flex-direction: row-reverse;

    .list {
      li {
        display: inline-block;
        margin-right: 25px;

        a {
          font-size: 14px;
          line-height: 24px;
          color: $pfont;
          font-weight: normal;
          @include transition;
        }

        &:hover,
        &.active {
          a {
            color: #fff;
          }
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}