.press_img_item {
  position: relative;
  height: 100%;
  box-shadow: $shadow;

  @include media-down(sm) {
    height: 300px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include media-down(md) {
      object-position: top;      
    }
  }
}

.press_img_name {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  color: #fff;
  padding: 10px 15px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;

  @include media-down(sm) {
    font-size: 20px;
  }

  span {
    display: block;
    color: $base;
  }
}

.press_content {
  display: flex;
  flex-direction: column;

  @include media-down(sm) {
    margin-top: 30px;
  }

  .img-phone {
    display: block;
    margin: 20px auto;
    max-width: 230px;

    @include media-down(md) {
      max-width: 180px;
    }
  }

  .img-sign {
    display: block;
    margin: 20px 30px;
    width: 70%;
  }

  .img-coffee {
    position: relative;
    margin: -80px 0 -80px auto;
    z-index: -1;
    width: 54%;

    @include media-down(md) {
      margin: -50px 0 -70px auto;      
    }
  }

  h2 {
    margin-bottom: 0;

    span {
      display: block;
    }
  }

  p {
    width: 60%;
    max-width: 300px;
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.press_form {
  input {
    display: block;
    width: 100%;
    height: 36px;
    box-shadow: none;
    outline: none;
    border: 1px solid $base-bg;
    margin-bottom: 10px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    padding: 0 10px;
  }
}