.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 30;
  height: 70px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-up(md) {
    padding: 0 30px;
  }

  &.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: $black;
    transform: translateY(70px);
    transition: .5s;
    transition-property: transform, background-color;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    height: 60px;
  }

  &__socials {
    @include media-down(md) {
      display: none;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  height: 40px;
  color: $base;

  @include media-up(md) {
    height: 48px;
  }

  img {
    height: 100%;
  }

  span {
    width: 60px;
    margin-left: 5px;
    font-family: $bebas;
    font-size: 16px;
    line-height: 1;

    @include media-up(md) {
      font-size: 18px;
    }
  }
}

.nav {
  margin-right: 15%;

  @include media-down(lg) {
    margin-right: 0;
  }

  @include media-down(md) {
    display: none;
  }

  &-list {
    display: flex;

    & > li {
      position: relative;
      display: inline-block;
      margin-right: 50px;

      &.mega-menu-item {
        position: unset;
      }

      & > a {
        position: relative;
        display: block;
        z-index: 1001;
        color: #fff;
        font-size: 14px;
        line-height: 35px;

        &:after {
          display: none;
        }
      }

      &:last-child {
        margin-right: 0px;
      }

      &:hover,
      &.active {
        &>a {
          color: $base;
        }
      }
    }

    a {
      transition: 0.25s;
    }
  }
}

.custom-logo {
  height: 100%;
}


.open-menu {
  position: relative;
  height: 40px;
  width: 40px;
  background: $base;
  text-align: center;

  @include media-up(lg) {
    display: none;
  }

  span {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 2px;
    background: #fff;

    &:nth-child(1) {
      top: 12px;
    }

    &:nth-child(2) {
      top: 19px;
    }

    &:nth-child(3) {
      top: 26px;
    }
  }
}

.close-menu {
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 15px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  background: $base;
  color: #fff;
  text-align: center;
  line-height: 40px;

  span {
    position: absolute;
    top: 18px;
    left: 7px;
    width: 26px;
    height: 2px;
    background: #fff;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}

.side_menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 30px 30px;
  z-index: 9999;
  transform: translateX(100%);
  transition: .6s ease;
  background: $black;

  .menu-item {
    opacity: 0;
    transform: translateY(20px);
    transition-property: opacity, transform;
    transition-duration: .5s;

    &:nth-child(1) {
      transition-delay: .4s;
    }

    &:nth-child(2) {
      transition-delay: .6s;
    }

    &:nth-child(3) {
      transition-delay: .8s;
    }
  }

  .menu-list {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 70vh;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    font-weight: 600;
    width: 100%;
    display: block;
    list-style: none;
    margin: 0;
    list-style: none;
    margin-bottom: 5vh;

    li {
      margin-top: 2vh;

      ul {
        li {
          a {
            color: $pfont;
          }

          &:hover {
            a {
              color: $base;
            }
          }
        }
      }

      a {
        width: fit-content;
        font-size: 2.5vh;
        font-weight: normal;
        color: $pfont;
        letter-spacing: .36px;
        display: block;
        position: relative;
        @include transition;

        i {
          font-size: 2.5vh;
          color: $pfont;
          float: right;
          font-weight: normal;
          position: absolute;
          right: -30px;
          top: 3px;
          transition: .3s;
        }

        &.open {
          i {
            transform: rotate(180deg);
            top: 0;
          }
        }
      }

      ul {
        display: none;

        li {
          margin-top: 1vh;

          a {
            font-size: 1.5vh;
            color: $gray;
            @include transition;
          }

          &:first-child {
            margin-top: 15px;
          }

          &:hover {
            a {
              color: $base;
            }
          }
        }
      }

      &:first-child {
        margin-top: 0vh;
      }

      &.open {
        a {
          i {
            transform: rotate(178deg);
          }
        }
      }

      &:hover,
      &.active {
        >a {
          color: $base;

          i {
            color: $base;
          }
        }
      }
    }
  }

  .menu-copy {
    margin-top: 40px;
    color: #fff;
    line-height: 1.71rem;
    font-size: 14px;

    a {
      margin-left: 3px;
      font-size: 14px;
      line-height: 24px;
      font-family: $bebas;
      font-weight: bold;
      letter-spacing: 1px;
      @include transition;

      &:not(:hover) {
        color: #fff;
      }
    }
  }
}


.menu-is-opened {
  .side_menu {
    transform: translateX(0%);
    box-shadow: 0 0 65px rgba(0, 0, 0, .07);
  }

  .click-capture {
    visibility: visible;
  }

  .menu-item{
    transform: translate(0);
    opacity: 1;
  }
}

.nav {
  position: relative;

  &>li {
    position: relative;

    &.mega-menu-item {
      position: unset;
    }
  }
}

nav li:hover .sub-menu,
nav li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.sub-menu {
  @include media-up(lg) {
    position: absolute;
    left: -20px;
    top: 35px;
    display: block;
    min-width: 250px;
    background: $black;
    border-radius: 0px;
    border: none;
    padding: 0px;
    box-shadow: none;
    margin-top: 0px;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.20);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    pointer-events: none;
    transition: .25s;
  }

  li {
    margin-right: 0px;
    display: block;

    a {
      display: block;
      line-height: 42px;
      color: $pfont;
      text-transform: inherit;
      font-weight: normal;
      text-shadow: none;
      padding: 0 20px;
      font-size: 14px;
      border-bottom: 1px solid #3c3c3c;
    }

    &:hover > a {
      color: #fff;
      background: $base;
    }
  }
}

.mega-menu {
  position: absolute;
  right: -100px;
  top: 35px;
  width: 750px;
  background: #262626;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  pointer-events: none;
  transition: .25s;

  @include media-up(xl) {
    right: auto;
    left: 0;
    width: 860px;
  }

  &__list {
    display: flex;
  }

  &__item {
    flex: 1 1 0;
    padding: 20px 10px;
    color: #fff;

    .h5 {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    ul {
      font-size: 12px;
      list-style: none;
      padding: 0;

      @include media-up(xl) {
        font-size: 14px;
      }
    }
  }

  &__project {
    position: relative;
    flex: 1 1 0;
    height: 105px;
    padding: 5px;
    background: $blue;

    @include media-up(xl) {
      height: 130px;
      padding: 10px;
    }

    .h5 {
      position: relative;
      z-index: 1;
      font-family: $bebas;
      font-weight: 700;
      font-size: 22px;
      letter-spacing: 1px;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.5;
      mix-blend-mode: luminosity;
      transition: .25s;
    }

    &:hover img {
      opacity: 1;
      mix-blend-mode: unset;
    }
  }

  &__btn {
    font-size: 24px !important;
  }
}