.single-banner {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;

  @include media-down(sm) {
    height: 300px;
  }
  
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
  }

  .container {
    height: 100%;
    position: relative;
  }

  &__title {
    position: absolute;
    left: 0;
    bottom: -7px;
    font-size: 36px;
    line-height: 1;
    color: #fff;
    margin-bottom: 0;
    padding: 0 20px;

    @include media-up(md) {
      font-size: 60px;
      bottom: -11px;
    }

    @include media-up(lg) {
      font-size: 72px;
      bottom: -14px;
    }

    span {
      display: block;
    }
  }
}

.service_parts_area {
  padding: 120px 0 50px;

  @include media-down(md) {
    padding: 100px 0 30px;
  }

  @include media-down(sm) {
    padding: 70px 0 20px;
  }
}

.service-parts {
  list-style: none;
  counter-reset: list;

  & > div {
    counter-increment: list;

    &:nth-child(1) .service-part__header:after {
      right: -8px;
    }

    &:nth-child(2) .service-part__header:after {
      right: -3px;
    }

    &:nth-child(3) .service-part__header:after {
      right: -2px;
    }
  }
}

.service-part {
  &__header {
    position: relative;
    width: 100%;
    padding-top: 42%;
    background: $blue;
    border-bottom: 1px solid $base;
  
    &:hover {
      background: transparent;
  
      img {
        filter: none;
        mix-blend-mode: unset;
      }
  
      p {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &:after {
      content: counter(list);
      position: absolute;
      right: 0px;
      bottom: -16px;
      font-family: $bebas;
      font-size: 80px;
      line-height: 1;
      font-weight: bold;
      color: $base;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.5);
      mix-blend-mode: luminosity;
      transition: .3s;
    }
  
    p {
      position: absolute;
      left: 0;
      top: 0;
      padding: 15px;
      z-index: 1;
      width: 90%;
      color: $blue;
      font-weight: bold;
      font-size: 20px;
      line-height: 1;
      opacity: 0;
      transform: translateY(10px);
      transition: .3s;
  
      @include media-only(md) {
        font-size: 14px;
      }
  
      @include media-down(sm) {
        font-size: 18px;
      }
    }
  }

  &__content {
    padding: 20px 0 30px;

    h1,
    h2,
    h3,
    h4 {
      span {
        white-space: inherit;
      }
    }
  
    h2,
    h3,
    h4 {
      margin-top: 20px;
    }

    .h5 {
      color: #fff;
    }
  
    ul,
    ol {
      li {
        margin-bottom: 10px;
      }
    }
   
    img {
      width: 100%;
      
      @include media-up(md) {
        width: auto;

        &.alignleft {
          float: left;
          margin-right: 30px;
        }

        &.alignright {
          float: right;
          margin-left: 30px;
        }

        &.aligncenter {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    ol, ul {
      margin-bottom: 1rem;
    }
  }

  .toggle_text {
    max-height: 0;
  }

  .toggle_btn {
    margin-top: 10px;
  }
}