* {
  cursor: none;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent
}

body {
  font-family: $raleway;
  color: $pfont;
  font-weight: normal;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  background: $black;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: #fff;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
    color: $base;
  }
}

button {
  outline: none;
  border: 0;
  box-shadow: none;
}


h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  font-family: $bebas;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;

  span {
    color: $base;
  }
}

h1, .h1,
h2, .h2 {
  font-size: 30px;
  margin-bottom: 30px;

  @include media-up(md) {
    font-size: 48px;
  }
}

h2, .h2 {
  font-size: 24px;
  margin-bottom: 30px;

  @include media-up(md) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

h5, .h5 {
  font-weight: 400;
}

h6, .h6 {
  font-weight: 300;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  padding: 0 20px;
}

.row.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

#success {
  display: none;
}

#error {
  display: none;
}

.display_table {
  display: table;
  width: 100%;
}

.display_table_row {
  display: table-row;
}

.display_table_cell {
  display: table-cell;
  float: none !important;
}

.p_100 {
  padding: 100px 0px;
}

iframe {
  border: none;
}

i {
  &:before {
    margin-left: 0px !important;
  }
}

.per_bg {
  background: #0e0e0e;
}

.row_direction {
  flex-direction: row-reverse;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: $base;
}

::selection {
  background-color: $base;
  color: #fff;
}

-webkit-::selection {
  background-color: $base;
  color: #fff;
}

::-moz-selection {
  background-color: $base;
  color: #fff;
}


@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}