body {
    font-family: $raleway;
    color: $pfont;
    font-weight: normal;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a {
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
        color: $base;
    }
}


h1,
h2,
h3,
h4 {
    font-family: $bebas;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;

    span {
        color: $base;

        @include media-up(md) {
            white-space: nowrap;            
        }
    }
}

h5 {
    font-weight: 400;
}

h6 {
    font-weight: 300;
}

.container {
    position: relative;
    padding: 0 20px;
}

.row.m0 {
    margin: 0px;
}

.p0 {
    padding: 0px;
}

img {
    max-width: 100%;
}

#success {
    display: none;
}

#error {
    display: none;
}

.display_table {
    display: table;
    width: 100%;
}

.display_table_row {
    display: table-row;
}

.display_table_cell {
    display: table-cell;
    float: none !important;
}

.p_100 {
    padding: 100px 0px;
}

iframe {
    border: none;
}

i {
    &:before {
        margin-left: 0px !important;
    }
}

.per_bg {
    background: #0e0e0e;
}

.row_direction {
    flex-direction: row-reverse;
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: $base;
}

::selection {
    background-color: $base;
    color: #fff;
}

-webkit-::selection {
    background-color: $base;
    color: #fff;
}

::-moz-selection {
    background-color: $base;
    color: #fff;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.s_title {
    color: $pfont;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 45px;

    &.white {
        color: $gray;
    }
}

.main_title {
    h2 {
        color: #fff;
        font-size: 42px;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    &.white {
        h2 {
            color: $base;
        }
    }
}


/* Proloader css
============================================================================================ */
.preloader {
    position: fixed;
    overflow: hidden;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #4b4b4b;
    text-align: center;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f1d299;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {

    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {

    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.col-md-offset-right-1,
.col-lg-offset-right-1 {
    margin-right: 8.33333333%;
}